<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>카페 글 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/raw@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/nested-list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
    <style type="text/css">
        * {box-sizing: border-box;}
        body {margin: 0; padding: 0;}
        main {margin: 10px 10px 0;}
        #title {margin: 10px 0;}
        #editorjs {min-height: 40vh;}
        .ce-block__content {
            max-width: 100% !important;
            padding: 0 20px;
        }
        .ce-toolbar__content {
            max-width: 100% !important;
        }
        .codex-editor__redactor {
            padding-bottom: 0 !important;
            margin-right: 0 !important;
        }
    </style>
    <script th:inline="javascript">

        $(document).ready(() => {

            $("#delete").on("click", () => {
                location.reload();
            })

            $("#edit").on("click", () => {
                editor.readOnly.toggle();
                $("#edit").addClass("d-none");
                $("#save").removeClass("d-none");

                $("#reset").addClass("d-none");
                $("#delete").removeClass("d-none");

                $("#r-title").addClass("d-none");
                $("#title").removeClass("d-none");
            });

            const fileUpload = async (file) => {
                const formData = new FormData();
                formData.append("file", file);

                try {
                    const response = await axios({
                        method: 'POST',
                        url: 'http://d.0neteam.co.kr:9000/file/upload',
                        withCredentials: true,
                        data: formData
                    });
                    return response.data;
                } catch (error) {
                    console.error(error);
                }

                return new Promise((resolve, reject) => {
                    resolve({
                        success: 0,
                        file: {url: ''}
                    })
                });
            }

            $("#save").on("click", () => {
                editor.save().then(data => {
                    if(data.blocks.length > 0) {
                        // 에디터에 내용물이 존재 함!!
                        let content = JSON.stringify(data.blocks);
                        let param = {
                            menuNo : $("#menuNo").val(),
                            title : $("#title").val(),
                            content
                        }
                        let url = document.location.pathname;
                        axios({
                            method: 'Patch',
                            url : url,
                            withCredentials: true,
                            data: param
                        }).then(res => {
                            if(res.data.status === 'success') {
                                editor.readOnly.toggle();
                                $("#save").addClass("d-none");
                                $("#edit").removeClass("d-none");

                                $("#r-title").text($("#title").val());
                                $("#title").addClass("d-none");
                                $("#r-title").removeClass("d-none");
                            }
                        }).catch(err => console.log(err));
                    }
                });

            });

            $("#delete").on("click", () => {
                console.log("delete");
                let url = document.location.pathname;
                axios({
                    method: 'Delete',
                    url : url
                }).then(res => {
                    if(res.data.status === 'success') {
                        window.location.href = "/" + $("body").attr("data-domain")
                    }
                }).catch(err => console.log(err));
            });

            /*<![CDATA[*/
            const data = JSON.parse([[${post.content}]]);
            /*]]>*/
            const editor = new EditorJS({
                holder : 'editorjs',
                data: {blocks: data},
                readOnly: true,
                tools: {
                    paragraph: {
                        class: Paragraph,
                        config: {placeholder: '내용을 입력하세요.'},
                        inlineToolbar: true
                    },
                    header: {
                        class: Header,
                        inlineToolbar : true
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: 'Enter a quote',
                            captionPlaceholder: 'Quote\'s author',
                        },
                        shortcut: 'CMD+SHIFT+O'
                    },
                    marker: {
                        class: Marker,
                        shortcut: 'CMD+SHIFT+M',
                    },
                    delimiter: Delimiter,
                    table: {
                        class: Table,
                        inlineToolbar: true,
                        shortcut: 'CMD+ALT+T'
                    },
                    list: {
                        class: NestedList,
                        inlineToolbar: true,
                        config: {defaultStyle: 'unordered'},
                        shortcut: 'CMD+SHIFT+L'
                    },
                    raw: RawTool,
                    code: CodeTool,
                    inlineCode: {
                        class: InlineCode,
                        shortcut: 'CMD+SHIFT+M',
                    },
                    checklist: {
                        class: Checklist,
                        inlineToolbar: true,
                    },
                    image: {
                        class: ImageTool,
                        config: {
                            uploader: {
                                uploadByFile(file){
                                    return fileUpload(file)
                                }
                            },
                            field: 'image',
                            types: 'image/*'
                        }
                    },
                    attaches: {
                        class: AttachesTool,
                        config: {
                            uploader: {
                                uploadByFile(file) {
                                    return fileUpload(file)
                                }
                            }
                        }
                    },
                }
            });

        });
    </script>
</head>

<body th:attr="data-domain=${domain}">
<main layout:fragment="content" class="container-fluid" style="min-height: 50vh;">
    <div class="container my-2">
        <div class="d-flex justify-content-between mb-3">
            <div>
                <a class="btn btn-outline-secondary me-2" th:href="@{'/' + ${domain} + '/post/' + ${beforeIndex}}" th:if="${beforeIndex}!=0">이전글</a>
                <a class="btn btn-outline-secondary me-2" th:href="@{'/' + ${domain} + '/post/' + ${nextIndex}}" th:if="${nextIndex}!=0">다음글</a>
                <a class="btn btn-outline-secondary" th:href="@{'/' + ${domain} + '/' + ${post.menuNo}}">목록</a>
            </div>
            <div>
                <button th:if="${loginUser}==${post.regUserNo}" class="btn btn-sm btn-success me-2" id="edit">수정</button>
                <button class="btn btn-sm btn-success me-2 d-none" id="save">저장</button>
                <button th:if="${loginUser}==${post.regUserNo}" class="btn btn-sm btn-danger" id="delete">삭제</button>
                <button class="btn btn-sm btn-secondary me-2 d-none" id="reset">취소</button>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <p class="text-muted small mb-1" th:text="${post.menuName}"></p>
                <input type="hidden" name="menuNo" id="menuNo" th:value="${post.menuNo}" />
                <h4 class="card-title" th:text="${post.title}" id="r-title"></h4>
                <input class="d-none" type="text" name="title" id="title" th:value="${post.title}" required />
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="text-muted small mb-0">작성자 <span th:text="${post.regName}"></span> | <span th:text="${post.regDate}"></span> | 조회수 <span th:text="${post.viewCount}"></span></p>
                </div><hr>
                <div class="mb-4">
                    <div id="editorjs"></div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div>
                <a class="btn btn-outline-secondary me-2" th:href="@{'/' + ${domain} + '/post/' + ${beforeIndex}}" th:if="${beforeIndex}!=0">이전글</a>
                <a class="btn btn-outline-secondary me-2" th:href="@{'/' + ${domain} + '/post/' + ${nextIndex}}" th:if="${nextIndex}!=0">다음글</a>
                <a class="btn btn-outline-secondary" th:href="@{'/' + ${domain} + '/' + ${post.menuNo}}">목록</a>
            </div>
            <div>
                <button th:if="${loginUser}==${post.regUserNo}" class="btn btn-sm btn-success me-2" id="edit">수정</button>
                <button class="btn btn-sm btn-success me-2 d-none" id="save">저장</button>
                <button th:if="${loginUser}==${post.regUserNo}" class="btn btn-sm btn-danger" id="delete">삭제</button>
                <button class="btn btn-sm btn-secondary me-2 d-none" id="reset">취소</button>
            </div>
        </div>
    </div>
    
</main>

</body>

</html>
