<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default2}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기 폼</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/raw@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/nested-list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
    <style type="text/css">
        * {box-sizing: border-box;}
        body {margin: 0; padding: 0;}
        main {margin: 50px 10vw 0;}
        #title {margin: 10px 0;}
        #editorjs {background-color: #d3e3fd; min-height: 40vh;}
        .ce-block__content {
            max-width: 100% !important;
            padding: 0 20px;
        }
        .ce-toolbar__content {
            max-width: 100% !important;
        }
        .codex-editor__redactor {
            padding-bottom: 0 !important;
            margin-right: 0 !important;
        }
    </style>
    <script>
        $(document).ready(() => {

            $("form").on("submit", e => {
                e.preventDefault();
                editor.save().then(data => {
                    if(data.blocks.length > 0) {
                        // 에디터에 내용물이 존재 함!!
                        let content = JSON.stringify(data.blocks);
                        let param = {
                            menuNo : $("#menuNo").val(),
                            title : $("#title").val(),
                            content
                        }
                        let url = "/" + $("body").attr("data-domain") + "/post";
                        axios({
                            method: 'PUT',
                            url : url,
                            data: param
                        }).then(res => {
                            if(res.data.status === 'success') {
                                console.log(res);
                                //editor.readOnly.toggle();
                                document.location.href = url + "/" + res.data.no;
                            }
                        }).catch(err => console.log(err));
                    }
                });
            });

            const fileUpload = async (file) => {
                const formData = new FormData();
                formData.append("file", file);

                try {
                    const response = await axios({
                        method: 'POST',
                        url: 'http://d.0neteam.co.kr:9000/file/upload',
                        data: formData
                    });
                    return response.data;
                } catch (error) {
                    console.error(error);
                }

                return new Promise((resolve, reject) => {
                    resolve({
                        success: 0,
                        file: {url: ''}
                    })
                });
            }

            const editor = new EditorJS({
                holder : 'editorjs',
                data: {blocks: []},
                tools: {
                    paragraph: {
                        class: Paragraph,
                        config: {placeholder: '내용을 입력하세요.'},
                        inlineToolbar: true
                    },
                    header: {
                        class: Header,
                        inlineToolbar : true
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: 'Enter a quote',
                            captionPlaceholder: 'Quote\'s author',
                        },
                        shortcut: 'CMD+SHIFT+O'
                    },
                    marker: {
                        class: Marker,
                        shortcut: 'CMD+SHIFT+M',
                    },
                    delimiter: Delimiter,
                    table: {
                        class: Table,
                        inlineToolbar: true,
                        shortcut: 'CMD+ALT+T'
                    },
                    list: {
                        class: NestedList,
                        inlineToolbar: true,
                        config: {defaultStyle: 'unordered'},
                        shortcut: 'CMD+SHIFT+L'
                    },
                    raw: RawTool,
                    code: CodeTool,
                    inlineCode: {
                        class: InlineCode,
                        shortcut: 'CMD+SHIFT+M',
                    },
                    checklist: {
                        class: Checklist,
                        inlineToolbar: true,
                    },
                    image: {
                        class: ImageTool,
                        config: {
                            uploader: {
                                uploadByFile(file){
                                    return fileUpload(file)
                                }
                            },
                            field: 'image',
                            types: 'image/*'
                        }
                    },
                    attaches: {
                        class: AttachesTool,
                        config: {
                            uploader: {
                                uploadByFile(file) {
                                    return fileUpload(file)
                                }
                            }
                        }
                    },
                }
            });

        });
    </script>
</head>
<body th:attr="data-domain=${domain}">
<main layout:fragment="content2">
    <div class="container my-2">
        <div class="d-flex justify-content-between align-items-center my-4">
            <h2 class="mb-0">글쓰기</h2>
        </div>
        <!-- <form th:action="@{|/write/save|}" method="post" th:object="${postDTO}"> -->
        <form>
            <div class="mb-3">
                <div class="mb-3">
                    <select class="form-select mt-2 ps-3" id="menuNo">
                        <option value="" disabled selected>메뉴 선택</option>
                        <!-- children -->
                        <th:block th:each="menu : ${menuList}">
                            <option th:each="smenu : ${menu.children}" th:value="${smenu.no}" th:text="${smenu.name}"></option>
                        </th:block>
                    </select>
                </div>

            </div>

            <div class="mb-3">
                <label for="title" class="form-label">글 제목</label>
                <!-- <input type="text" id="title" class="form-control" th:field="*{title}" placeholder="제목을 입력하세요"> -->
                <input type="text" id="title" class="form-control" placeholder="제목을 입력하세요">
            </div>

            <div class="mb-4">
                <label for="editorjs" class="form-label">내용물 (에디터 사용)</label>
                <!-- <textarea id="content" class="form-control" rows="16" th:field="*{content}" placeholder="에디터"></textarea> -->
                <!--                    <textarea id="content" class="form-control" rows="16" placeholder="에디터"></textarea>-->
                <div id="editorjs"></div>
            </div>

            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-success">등록</button>
                <button type="button" class="btn btn-secondary">취소</button>
            </div>
        </form>
    </div>
</main>
</body>

</html>
