<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<footer th:fragment="footer" class="py-2" style="background-color: transparent;">
    <hr class="border-secondary">
    <div class="d-flex align-items-center justify-content-start">
        <p class="fw-bold mb-0">카페명</p>
        <a class="nav-link active text-dark ms-3" href="#">cafe.0neteam.co.kr/카페주소</a>
        <a class="nav-link active text-dark ms-3 ms-auto" href="#">카페홈LOGO</a>
    </div>
</footer>
</html>
