<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

    <header th:fragment="header" class="navbar navbar-expand-sm border-bottom">
        <div class="d-flex flex-wrap justify-content-between align-items-center w-100">
            <span class="navbar-brand d-flex align-items-center p-0">
                <a href="http://d.0neteam.co.kr:9000">
                    <img class="ms-2" src="/img/logo_oneteam.png" alt="oneteam logo" height="45px">
                </a>
                <a th:href="@{/}">
                    <img src="/img/logo_cafe.png" alt="cafe logo" height="20px">
                </a>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center gap-3 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://d.0neteam.co.kr:9000/signIn">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://d.0neteam.co.kr:9000/oauth2/logout">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://d.0neteam.co.kr:9000/MyPageInfo">내정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://d.0neteam.co.kr:8002/">내블로그</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">카페홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">가입한카페</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</html>